@model Soding_Assignment__Stevan_Giano_Putra_.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUploaded)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
