@model IEnumerable<Soding_Assignment__Stevan_Giano_Putra_.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskID })
        </td>
    </tr>
}

</table>
